extends layout

block content
  div.container
    div.jumbotron
      h1.text-center= title
      div.alert.alert-info
        p this is here to help you
      //div#help
        //button ?
    table.table.table-hover
      tr
        td ISO
        td 
          select.form-control
            option 100
            option 200
            option 300
      tr
        td Aperture
        td
          //button(type="button" class="btn btn-default" id="f_lock")
            //span.glyphicon.glyphicon-lock
          div#f_slider
      tr
        td Shutter Speed
        td
          //button(type="button" class="btn btn-default" id="s_lock")
            //span.glyphicon.glyphicon-lock
          div#s_slider
      tr
    input.btn(type="button", class="btn btn-default btn-lg btn-block", value="Capture")
    div.footer
      p.small.text-center JRAK CO. 2014