extends layout

block content

  div.jumbotron
    h1.text-center= title
  div.container
    //table.table.table-hover
    table
      colgroup
        //col(span="1" style="width: 5%;")
        col(span="1" style="width: 5%;")
        col(span="1" style="width: 95%;")
      tr(class="spaceUnder")
        //th ISO
        td
          button(type="button" class="btn btn-default" id="i_lock")
            i(id="i_icon" class="fa fa-unlock-alt fa-2x")
        td 
          select(id="iso_select" class="form-control")
            option ISO 100
            option ISO 200
            option ISO 300
            option ISO 400
            option ISO 500
            option ISO 600
            option ISO 700
            option ISO 800
      tr(class="spaceUnder")
        //th Aperture
        td
          button(type="button" class="btn btn-default" id="f_lock")
            i(id="f_icon" class="fa fa-unlock-alt fa-2x")
        td
          div#f_slider
          input(type="text" id="f_amount" class="form-control" placeholder="Aperture" readonly="true")
      tr(class="spaceUnder")
        //th Shutter Speed
        td
          button(type="button" class="btn btn-default" id="s_lock")
            i(id="s_icon" class="fa fa-unlock-alt fa-2x")
        td
          div#s_slider
          input(type="text" id="s_amount" class="form-control" placeholder="Shutter Speed" readonly="true")
      tr
    input.btn(type="button", class="btn btn-default btn-lg btn-block", value="Capture EXIF")
  div.footer
    div.jumbotron
      p.small.text-center JRAK CO. 2014