/*
 * public/stylesheets
 * style.css
 */

/* global styles */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

tr.space-under > td {
  padding-top: 1em;
  padding-bottom: 1em;
}

td.butt-pad {
	padding-right: 1em;
}

/* jquery ui slider */
.ui-slider-horizontal {
    height: 35px;
    width: 100%;
}

.ui-slider .ui-slider-handle {
    height: 45px;
    width: 30px;
}